$accent: #06413d;
$body-bg: #fcfdfc;
$body-color: #362f2f;
$alt-bg: #f8fafa;
$alt-color: #faf9f9;
// Toolbar
$toolbar-bg:#d8d0e9;
// Header
$header-bg:rgb(230, 230, 187);
.accent-color {
    color: $accent;
}

// $navbar-sidebar-width: 232px;
// $navbar-sidebar-breakpoint: 'md';