<p>Toolbar works!</p>
<!-- <mat-toolbar color="primary">

    <a mat-button routerLink="/" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>

    <a mat-button [matMenuTriggerFor]="animals">Productos</a>
    <mat-menu #animals="matMenu" [overlapTrigger]="false" class="app-dropdown">
        <a mat-menu-item routerLink="/portafolio" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Perforación</a>
        <a mat-menu-item routerLink="/portafolio" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Anidado</a>
        <a mat-menu-item routerLink="/portafolio" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Fresado Final</a>
        <a mat-menu-item routerLink="/portafolio" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Rango Original</a>
        <a mat-menu-item routerLink="/portafolio" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Cortadores</a>
        <a mat-menu-item routerLink="/portafolio" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Maquinaria</a>
        <a mat-menu-item routerLink="/portafolio" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Servicio de Prototipado</a>
    </mat-menu>

    <a mat-button [matMenuTriggerFor]="animals">Pages<i class="fas fa-angle-down mx-2"></i></a>
    <mat-menu #animals="matMenu" [overlapTrigger]="false" class="app-dropdown">
        <a mat-menu-item routerLink="/products" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">All products</a>
        <a mat-menu-item [routerLink]="['/products', '2', 'PC All-in-One']" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Product detail</a>
        <a mat-menu-item routerLink="/contact" routerLinkActive="horizontal-active-link" [routerLinkActiveOptions]="{exact:true}">Contact</a>
        <a mat-menu-item routerLink="/sign-in">Sign in</a>
        <a mat-menu-item routerLink="/404">404 Error</a>
        <a mat-menu-item [matMenuTriggerFor]="others">Others</a>
    </mat-menu>

    <mat-menu #others="matMenu" class="app-dropdown">
        <a mat-menu-item href="http://themeseason.com" target="_blank">External Link</a>
        <a mat-menu-item>Menu item</a>
        <a mat-menu-item>Menu item</a>
        <a mat-menu-item>Menu item</a>
    </mat-menu>

</mat-toolbar> -->